body {
    background-color: rgb(32, 46, 74);
}

h1 {
    font-family: "Russo One", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 70px;
    margin-left: 30px;
    color: rgb(227, 243, 255)
}

h6 {
  font-family: "Quicksand", sans-serif;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 48,
}

.header {
    background-color: rgb(32, 46, 74);
    height: 100px;
    width: auto;
    margin: auto;
    margin-top: -35px;
}

.main-container {
    height: 1000px;
    width: auto;
    background-color: rgba(53, 72, 130, 0.564);
    margin: auto;
    position: relative;
    border-radius: 20px;
    padding: 20px;
}

.shop-container {
    margin-right: 30px;
    margin: auto;
    background-color: rgba(58, 102, 146, 0.492);
    height: 400px;
    width: 300px;
    border-radius: 20px;
    padding: 5px;
    display:inline-block;
    margin-right: 20px;
    position: relative;
}

.shop-container-inside {
    background-color: rgba(82, 95, 107, 0.492);
    height: 270px;
    width: 290px;
    border-radius: 20px;
    padding: 5px;
    margin: auto;
}

#item1 {
    content: url("item1.png");
}

#item2 {
    content: url("item2.png");
}

#item3 {
    content: url("item3.png");
}

#item4 {
    content: url("item4.png");
}

#item5 {
    content: url("item5.png");
}

#item6 {
    content: url("item6.png");
}

#item7 {
    content: url("item7.png");
}

#item8 {
    content: url("item8.png");
}

h5 {
    font-size: 16px;
    font-family: "Quicksand", sans-serif;
    color: white;
    text-align: center;
}

.shop-cart {
    font-family: "Afacad", sans-serif;
    color: white;
    border: 0;
    height: 40px;
    width: 300px;
    margin: auto;
    border-radius: 10px;
    background-color: rgb(32, 136, 248);
    font-size: 25px;
}
    
s {
    color: rgba(244, 40, 40, 0.54);
}

.item-label {
    display: inline-block;
    width: 300px;
    height: 50px;
    margin-right: 90px;
    padding: 0;
    margin-top: -17px;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' -25,
    'opsz' 40;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin: auto;
    margin-left: 2%;
    margin-top: -5px;
}

.navbtn {
    width: 8%;
    height: 20%;
    background-color: rgb(0, 183, 255);
    font-family: "Afacad", sans-serif;
    display: inline-block;
    text-align: center;
    margin-right: 5px;
    font-size: 20px;
    border-radius: 12px;
}

li:focus {
    background-color: aqua;
    width: 10%;
}

li:active {
    background-color: aqua;
    width: 10%;
}

